.Loader{
    background-color: rgba(224, 219, 219, 0.735);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.box{
    background-color: transparent !important; 
}