.sideBarMenu{
    padding: 5px;
    height: 92.6vh;
}
.backword{
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.CloseMenu{
    width: 25px !important;
}

.logout{
    margin-top: 80rem;
}